{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Нова сторінка 2</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'polls/images/favicon.png' %}" >
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
</head>
<body>

<h1 class="custom-select">New Page 2</h1>
</br>
<button class="GFG custom-select" 
onclick="window.location.href = 'http://127.0.0.1:8000/';"> 
    Головна
</button>
</br>
</br>

<!-- Bootstrap -->
<form class="custom-select">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- Bootstrap -->
</br>
</br>
<style>
    .custom-select {
      width: 25%; /* Змініть це значення на те, яке вам потрібно */
      margin-left: 20px;
    }
</style>

<select class="form-select custom-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
</br>
<button type="button" class="btn btn-primary custom-select">Натискай мене!</button>
<!-- Bootstrap -->
</br>
</br>
<div id="carouselExampleControls" class="carousel slide custom-select" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1683009427513-28e163402d16?q=80&w=1470" class="d-block w-100" alt="123">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1698869628690-4ebd72f3b8c2?q=80&w=1374" class="d-block w-100" alt="123">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1682686580036-b5e25932ce9a?q=80&w=1375" class="d-block w-100" alt="123">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</br>
</br>
</body>
</html>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>