{% extends 'base.html' %}

{% block title %}
    Create Note
{% endblock %}

{% block content %}
    <h1 class="display-4">Заповніть вашу нотатку</h1><br>
    <form method="post">
        {% csrf_token %}
        <label for="title">Заголовок:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="text">Текст:</label><br>
        <textarea id="text" name="text"></textarea><br>
        <label for="reminders">Дата нагадування:</label><br>
        <input type="datetime-local" id="reminders" name="reminders"><br>
        <label for="category">Категорія:</label><br>
        <input type="text" id="category" name="category"><br><br>
        <button type="submit">Зберегти</button>
    </form>
{% endblock %}