{% extends 'base.html' %}

{% block title %}
    Note Detail
{% endblock %}

{% block content %}
    
    <h1 class="display-4">Зміст вашої нотатки:</h1><br>
    <p><strong>Заголовок:</strong> {{ note.title }}</p>
    <p><strong>Текст:</strong> {{ note.text }}</p>
    <p><strong>Дата нагадування:</strong> {{ note.reminders }}</p>
    <p><strong>Категорія:</strong> {{ note.category }}</p><br><br>

    <p><i>Перейти до <a href="http://127.0.0.1:8000/first_app/notes/">списку</a> усіх нотаток</i></p>
    <p><i><a href="{% url 'note_edit' pk=note.pk %}">Редагувати</a> нотатку</i></p>
    <p><i><a href="{% url 'note_delete' pk=note.pk %}">Видалити</a> нотатку</i></p>
{% endblock %}