{% extends 'base.html' %}

{% block title %}
    Order Call
{% endblock %}

{% block content %}
<h1 class="display-4">Замовлення зворотного дзвінку</h1>
<p class="lead">Бла-бла-бла... введіть інфу і ми вам передзвонимо...</p>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Замовити дзвінок
                    </div>
                    <div class="card-body">
                        <!-- Форма замовлення дзвінка -->
                        <form action="{% url 'order_call' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="user_name">Ім'я</label>
                                <input type="text" class="form-control" id="id_user_name" name="user_name" required>
                            </div><br>
                            <div class="form-group">
                                <label for="user_surname">Прізвище</label>
                                <input type="text" class="form-control" id="id_user_surname" name="user_surname" required>
                            </div><br>
                            <div class="form-group">
                                <label for="phone">Номер телефону в форматі: +380хх ххх хх хх</label>
                                <input type="tel" class="form-control" id="id_phone" name="phone" required>
                            </div><br>
                            <button type="submit" class="btn btn-primary">Відправити</button>
                        </form>
                        <!-- Кінець форми -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
