{% extends "base.html" %}

{% block title %}Увійти{% endblock %}

{% block content %}

<h2>Форма входу</h2>
<form method="post">
    {% csrf_token %}
    <!--{{ form }}-->
    <div class="form-group">
        <label for="id_username">Ім'я користувача:</label>
        <br>
        {{ form.username }}
    </div>
    <br>
    <div class="form-group">
        <label for="id_password1">Пароль:</label>
        <br>
        {{ form.password }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Увійти</button>
</form>

{% endblock %}